.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  background-color: white;
  width: 100%;
  top: 0;
  z-index: 100;
}

.header_icon {
  object-fit: contain;
  height: 100px;
  margin-left: 20px;
}

.header_center {
  display: flex;
  align-items: center;
  max-width: fit-content;
  padding: 10px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 999px;
  flex: 1;
}

.header_center input {
  border: none;
  width: 250px;
  outline-width: 0;
}

.header_right {
  display: flex;
  align-items: center;
  width: 15vw;
  justify-content: space-between;
  margin-right: 80px;
}

@media screen and (max-width: 550px) {
  .header_right {
    padding-left: 5px;
    padding-right: 5px;
  }

  .header_right > p {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .header_center > input {
    width: 10%;
    padding-left: 80px;
    margin-right: 5px;
  }

  .header_right {
    padding-left: 5px;
  }

  .header_right > p {
    display: none;
  }
}

@media screen and (max-width: 620px) {
  .header_center {
    display: none;
  }
}
